@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    font-family: 'Montserrat';
    background-color: #f8f4e5;
}
.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
}
.title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.title__text {
    font-size: 2em;
}
.title__input {
    background-color: #f8f4e5;
    width: 60vw;
    height: 50px;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.btn {
background-color: #f8f4e5;
color: #757575;
border-color: #757575;
margin-left: 20px;
width: 10vw;
height: 55px;
border-radius: 10px;
font-size: 1.5rem;
}
.gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}
.gallery__img-one {
    grid-column: 1/2;
    display: flex;
    justify-content: end;
    align-items: center;

}
.gallery__img-two {
    grid-column: 2/3;
}
.gallery__img-three{
    grid-column: 3/4;
}
.gallery__img-four {
    grid-column: 4/5;
}
.gallery__img-five {
    grid-column: 5/6;
    display: flex;
    align-items: center;
}
.img-tree,
.img-journey,
.img-star {
    max-width: 450px;
    max-height: 300px;
}
.arrow-right {
    max-width: 45px;
    max-height: 45px;
}